<ActionBar class="action-bar">
    <!--
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
        
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Placas"></Label>
</ActionBar>
<ScrollView class="page container">
    <StackLayout class="items" *ngIf="cantidad === true">
        <CardView class="card" elevation="30" radius="0" ios:shadowRadius="3" *ngFor="let badge of badges">
            <GridLayout rows="80%, 20%" columns="*,50" horizontalAlignment="center" (tap)="setdetail(badge)">
                <label col="0" row="0" [text]="badge.badge" textWrap="true" class="label-item"></label>
                <label col="0" row="1" [text]="badge.city" class="label-sub"></label>
                <StackLayout row="0" col="1" rowSpan="2" class="botonera">
                    <Label text="S" [ngClass]="(badge.soat_exp_date !== null) ? 'active' : 'inactive'"></Label>
                    <Label text="T" [ngClass]="(badge.tecmec_exp_date !== null) ? 'active' : 'inactive'"></Label>
                    <Label text="L" [ngClass]="(badge.license_exp_date !== null) ? 'active' : 'inactive'"></Label>
                    <Label text="A" [ngClass]="(badge.next_oil_change !== null) ? 'active' : 'inactive'"></Label>
                </StackLayout>
            </GridLayout>
        </CardView>
    </StackLayout>
</ScrollView>

<StackLayout class="float-btn-container" (tap)="addBadge()">
    <float-btn></float-btn>
</StackLayout>