StackLayout {
    width: 100%
}

.date {
    border-width: 1;
    border-color: #000;
    width: 90%
}

DatePickerField {
    border-bottom: 0;
    border-width: 0;
    width: 100%;
}

.textinput {
    padding: 10;
    margin-top: 10;
    width: 100%
}

.textlabel {
    width: 100%;
    font-size: 20
}

.textIn {
    text-emphasis: none
}

TextField,
DatePickerField {
    text-transform: uppercase;
    text-align: center;
}

.btn-file {
    background-color: gray;
    color: white;
    border: none;
    outline: none;
    width: 50;
    height: 50;
}

Ripple Label {
    vertical-align: center;
    text-align: center;
}

.btn-file .fa {
    font-size: 30;
}

.picker {
    width: 100%;
    height: 100;
    vertical-align: center;
    margin-bottom: -10;
}