<!-- <FlexboxLayout width="100%" height="100%" backgroundColor="white" flexDirection="column" >
    <Label text="Label 1" width="70" height="10%" backgroundColor="red"></Label>
    <ScrollView width="70" height="80%"  >
        <StackLayout  height="100%">
            <ListView  [items]="countries">
                <ng-template let-country="item" let-i="index" let-odd="odd" let-even="even">
                    <label text="JAJAA"></label>
                </ng-template>
            </ListView>


            
        </StackLayout>
    </ScrollView>
   <StackLayout orientation="horizontal" height="10%" width="70">
       <TextField hint="Escribe tu mensaje" text="" width="80%"></TextField>
       <button text="Enviar" (tap)="sendMessage()"></button>
   </StackLayout>
</FlexboxLayout> -->
<ActionBar class="action-bar">
    <!--

            Use the NavigationButton as a side-drawer button in Android
            because ActionItems are shown on the right side of the ActionBar
            -->
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_revert" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
                Use the ActionItem for IOS with position set to left. Using the
                NavigationButton as a side-drawer button in iOS is not possible,
                because its function is to always navigate back in the application.
                -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Chat de Soporte"></Label>
</ActionBar>
<StackLayout>

    
    <!-- <ScrollView height="90%"> -->
    <!-- <ListView height="90%" margin-bottom="50" padding="5" #list [items]="chats$ | async"> -->
    <ListView height="90%" margin-bottom="50" padding="5" #list [items]="chats$">
        <ng-template let-item="item">
            <GridLayout columns="*" rows="auto" class="msg">
                <StackLayout [class]="filter(item.from)" orientation="horizontal" [horizontalAlignment]="align(item.from)">
                    <Image [visibility]="showImage(item.from)" class="authorimg" stretch="aspectFill" height="50" width="50" verticalAlignment="center" src="~/images/logo.png" col="1"></Image>
                    <Label [text]='item.message' class="msg_text" textWrap="true" verticalAlignment="top"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>

    <!-- </ScrollView> -->
    <StackLayout height="10%">
        <GridLayout columns="*,auto" style="padding: 10">
            <TextField hint="Enviar mensaje" (textChange)="onTextChange($event)" class="chatTextField" row="0" col="0"></TextField>
            <Button class="chatBtn" row="0" col="1" text="enviar" (tap)=sendMessage()></Button>
        </GridLayout>
    </StackLayout>
</StackLayout>