/* Modal */

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dialogOpen .content {
    opacity: 0.2;
}

.dialogOpen .dialog-wrapper {
    visibility: visible;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.dialog-wrapper {
    visibility: collapse;
    opacity: 0;
}

.dialog {
    border-width: 1 0 1 0;
    border-color: black;
    background-color: white;
    width: 100%;
    margin-top: 100;
    padding: 20;
}

.dialog Label {
    margin: 0 15 15 15;
    color: black;
}


/* Add mobile styles for the component here.  */

FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("~/images/aaa.jpg");
}

action-bar {
    background-color: black;
    text-align: right;
}

StackLayout {
    width: 300;
    height: 46%;
    padding: 10 16;
    background-color: #f0f0f0;
}

Image {
    margin-bottom: 20;
    height: 70;
}

Button,
TextField,
Ripple {
    margin-bottom: 10;
}

Ripple Label {
    text-align: center;
    text-transform: uppercase;
}

.btn-primary {
    background-color: rgb(0, 0, 0);
    margin-left: 0;
    margin-right: 0;
}

TextField {
    placeholder-color: #C4AFB4;
    color: black;
}

.dark {
    background-color: #301217;
}

.dark TextField {
    color: #C4AFB4;
}