<FlexboxLayout>
    <StackLayout class="form" [class.dark]="!isLoggingIn">
        <Image src="~/images/logo.png"></Image>
        <InputMask hint="Número de teléfono" keyboardType="phone" mask="+57 ([000]) [000]-[0000]" class="input input-border" (extractedValueChange)=onExtractedValueChange($event)>
        </InputMask>

        <!-- <TextField hint="Número de teléfono " keyboardType="number " autocorrect="false " autocapitalizationType="none " [(ngModel)]="user.number " class="input input-border "></TextField> -->

        <!-- <TextField hint="Nombre " secure="true " [(ngModel)]="user.name " class="input input-border "></TextField> -->
        <Ripple rippleColor="#f5f5f5" (tap)="submit()" class="btn btn-primary">
            <Label [text]="isLoggingIn ? 'Iniciar Sesión' : 'Sign In'" color="#fff" textWrap="true"></Label>
        </Ripple>

        <!-- <Button [text]="isLoggingIn ? 'Iniciar Sesión' : 'Sign In' " class="btn btn-primary " (tap)="submit() "></Button> -->
        <!-- <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login' " (tap)="toggleDisplay() " hidden = "true "></Button>-->
    </StackLayout>
</FlexboxLayout>