<FlexboxLayout>
    <StackLayout class="form" [class.dark]="!isLoggingIn">
        <Image src="~/images/logo.png"></Image>

        <InputMask keyboardType="phone" mask="[000]-[000]" hint="Código de confirmación" (extractedValueChange)=onExtractedValueChange($event) returnPress="onReturnPress" class="input input-border" [isEnabled]="!processing">
        </InputMask>

        <ActivityIndicator horizontalAlignment="center" [busy]="processing"></ActivityIndicator>

        <Label [text]="countdown + ' / 300 Seg'" class="countdown" textWrap="true"></Label>
        <Label text="Si el número es correcto recibirá un mensaje con el código de confirmación." textWrap="true"></Label>

        <Ripple rippleColor="#f5f5f5" (tap)="submit()" class="btn btn-primary" isEnabled="{{ countdown!==0?false:(fails> 3 ? false:true ) }}">
            <Label [text]="isLoggingIn ? 'Solicitar nuevamente' : 'Request again'" textAlignment="center" textTransform="uppercase" textWrap="true"></Label>
        </Ripple>

    </StackLayout>
</FlexboxLayout>
