<ActionBar class="action-bar">
    <!--

        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton ios:visibility="collapsed" android.systemIcon="ic_menu_revert" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
            Use the ActionItem for IOS with position set to left. Using the
            NavigationButton as a side-drawer button in iOS is not possible,
            because its function is to always navigate back in the application.
            -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="badge.badge"></Label>
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout class="page">
            <CardView class="card" elevation="40" radius="10" ios:shadowRadius="3" (tap)="onSelectSingleTap()">
                <StackLayout class="card-layout">
                    <Label class="h2" text="SOAT"></Label>
                    <Label class="body" textWrap="true" text="VENCIMIENTO"></Label>
                    <Label class="date" textWrap="true" [text]="soat_exp_date"></Label>
                </StackLayout>
            </CardView>
            <CardView class="card" elevation="40" radius="10" ios:shadowRadius="3">
                <StackLayout class="card-layout">
                    <Label class="h2" text="TECNO"></Label>
                    <Label class="body" textWrap="true" text="VENCIMIENTO"></Label>
                    <Label class="date" textWrap="true" [text]="tecmec_exp_date"></Label>
                </StackLayout>
            </CardView>
            <CardView class="card" elevation="40" radius="10" ios:shadowRadius="3">
                <StackLayout class="card-layout">
                    <Label class="h2" text="LICENCIA"></Label>
                    <Label class="body" textWrap="true" text="VENCIMIENTO"></Label>
                    <Label class="date" textWrap="true" [text]="license_exp_date"></Label>
                </StackLayout>
            </CardView>
            <CardView class="card" elevation="40" radius="10" ios:shadowRadius="3">
                <StackLayout class="card-layout">
                    <Label class="h2" text="CAMBIO DE ACEITE"></Label>
                    <Label class="body" textWrap="true" text="PRÓXIMO"></Label>
                    <Label class="date" textWrap="true" [text]="next_oil_change"></Label>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</GridLayout>


<!-- <StackLayout>
    <GridLayout class="items">
        <Label text="SOAT"></Label>
        <label text="VENCIMIENTO" class="date"></label>
    </GridLayout>
    <GridLayout class="items">
        <Label text="TECNO"></Label>
        <label text="VENCIMIENTO"></label>
    </GridLayout>
    <GridLayout class="items">
        <Label text="LICENCIA"></Label>
        <label text="VENCIMIENTO"></label>
    </GridLayout>
    <GridLayout class="items">
        <Label text="CAMBIO DE ACEITE"></Label>
        <label text="PROXIMO"></label>
    </GridLayout>
</StackLayout>> -->