.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 0;
    border-width: 1;
    border-color: black;
    padding: 30;
}

.card-layout {
    padding: 20;
}

.card-layout .h1 {
    margin-bottom: 15;
}

.card-layout .h2 {
    text-align: left;
}

.card-layout .body {
    text-align: center;
    padding-top: 10;
    font-size: 16;
}

.card-layout .date {
    text-align: center;
}