<ActionBar class="action-bar">

    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Noticias"></Label>
</ActionBar>
<StackLayout class="page">
    <ScrollView>

        
        <StackLayout>
            <CardView class="card" elevation="40" radius="10" ios:shadowRadius="3">
                <StackLayout class="card-layout">
                    <GridLayout rows="*">
                        <GridLayout rows="*" columns="*">
                            <Image src="https://s4.reutersmedia.net/resources/r/?m=02&d=20191017&t=2&i=1441673580&r=LYNXMPEF9G00M-OUSLT&w=1200" stretch="aspectFill" height="200"></Image>
                        </GridLayout>
                    </GridLayout>
                    <StackLayout paddingTop="15" paddingBottom="20" paddingLeft="15" paddingRight="15" backgroundColor="White">
                        <Label text="Título de la noticia" class="news-title" textWrap="true"></Label>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>

</StackLayout>